### Node / React ###
node_modules/
**/node_modules/

# Environment files
.env
.env.*

# React/Vite/Next build folders
dist/
build/
.next/

# Package manager logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Optional
coverage/